/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App{
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  /* align-items: center; */
}

.nav{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  background-color:#21222A;
  /* color: #61DAFB; */
  padding:0 10%;
}


.nav-header{
  color: #61DAFB;
  font-weight: 700;
}
.nav-title {
  margin-left: auto;
  color: aliceblue;
  font-weight: 600;
}

.logo{
  width:70px;
}


.main{
  /* margin: 5px; */
  background-color: #282D35;
  height: 100vh;
  padding: 3% 15px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x:150% ;
  /* background-position-y:20% ; */
}

.main-head{
  font-size: 3rem;
  letter-spacing: -0.04em;
}

.main-points > li{
  font-size: 20px;
  padding-block:6px ;
}

.main-points ::marker{
  color: #61DAFB;
  font-size: 1.3rem;
}